* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Liberation Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", monospace;
  background-color: #0f172a;
  color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: none;
}